<!doctype html>
<html>
  <head>
    <title>Republic of Rock Password Reset Request</title>
  </head>
  <body style="width: 100%; margin: 0px; padding: 2em 0pm 2em 0pm; background-color: #eaf0f6;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
      style="width: 100%; max-width: 600px; background-color: white; margin: auto;">
      <tr>
          <td height="20" style="background-color: #eaf0f6;"></td>
      </tr>
      <tr>
        <td>
          <img
            onclick="return false;"
            src="https://ik.imagekit.io/projkazcade/mail-banner.webp?updatedAt=1712359353742"
            style="max-width: 600px; width: 100%; height: auto; margin-bottom: 2em;"
          />
          <div style="margin-left: 1.5em; margin-right: 1.5em;">
            <span style="text-align: left; font-size: 1.5em; font-weight: bold;">
              Password Reset Request
            </span>

            <br />
            <br />
            
            <span style="text-align: left; font-size: 1.2em;">
              Hello <%= name %>!
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              We have been notified that you've forgotten your current password and would like to request for a password change.
              Please click on the button link below to proceed with your request.
            </span>

            <br />
            <br />

            <!-- Parent table to center horizontally -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 12px 28px; border-radius: 4px; background-color: #007bff;">
                <tr>
                    <td>
                      <a href="<%= link %>" target="_blank" 
                        style="font-size: 1.2em; font-weight: bold; color: #ffffff; text-decoration: none; text-align: center;">
                        Reset your account's password
                      </a>
                    </td>
                </tr>
            </table>
            
            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              If you did not make this request, you can safely disregard this email.
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Rock On!
            </span>
            
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              The Republic of Rock Team
            </span>
          </div>
        </td>
      </tr>
      <tr>
          <td height="20"/>
      </tr>
      <tr>
          <td height="20" style="background-color: #eaf0f6;"/>
      </tr>
    </table>
  </body>
</html>
