<!doctype html>
<html>
  <head>
    <title>Republic of Rock Welcomes You! Rock On!</title>
  </head>
  <body style="width: 100%; margin: 0px; padding: 2em 0pm 2em 0pm; background-color: #eaf0f6;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
      style="width: 100%; max-width: 600px; background-color: white; margin: auto;">
      <tr>
          <td height="20" style="background-color: #eaf0f6;"></td>
      </tr>
      <tr>
          <td height="20"/>
      </tr>
      <tr>
        <td>
          <img
            onclick="return false;"
            src="https://ik.imagekit.io/projkazcade/Republic_of_Rock.webp?updatedAt=1712340814255"
            style="max-width: 580px; width: 100%; height: auto; margin-bottom: 2em;"
          />
          <div style="margin-left: 1.5em; margin-right: 1.5em;">
            <span style="text-align: left; font-size: 1.2em;">
              Hello <%= name %>!
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Welcome to Republic of Rock, your ultimate destination for rockin'
              concert experiences! We're not just about attending concerts; we're
              about empowering you to become the rockstar host of your own
              unforgettable events.
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Our unique platform empowers registered users like you to plan and
              host concert events featuring your favorite bands, all with the
              convenience and support of our services to provide top-notch
              accommodations.
            </span>

            <br />
            <hr />

            <span style="font-weight: bold; font-size: 1.6em;">
              Overview
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Now as a registered user, you may <a href="#">sign in</a>, then access
              the <a href="#">dashboard</a> to begin
              <a href="#">coordinating with our staffs</a> with your events'
              accommodations, logistics, and promotion. We're here to ensure that
              every detail of your event exceeds expectations.
            </span>

            <br />
            <hr />

            <span style="font-weight: bold; font-size: 1.6em;">
              Network with our Community!
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              And let's not forget the incredible community you're now a part of.
            </span>

            <ol style="text-align: left; font-size: 1.2em;">
              <li>Connect with fellow rock enthusiasts.</li>
              <li>Share ideas.</li>
              <li>
                Collaborate on events that will leave a lasting impact on everyone
                involved.
              </li>
            </ol>

            <span style="text-align: left; font-size: 1.2em;">
              The possibilities are endless, and we're here to support you every
              step of the way.
            </span>

            <br />
            <hr />

            <span style="text-align: left; font-size: 1.2em;">
              That's all there is to it! Get ready to unleash your inner rockstar
              and embark on an exhilarating journey with Republic of Rock.
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              If you
              have any questions, ideas, or feedback, our dedicated support team is
              always here to assist you.
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Once again, welcome to Republic of Rock. Let's rock the world
              together!
            </span>

            <br />
            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Rock on!
            </span>

            <br />

            <span style="text-align: left; font-size: 1.2em;">
              Kaz, CEO of Republic of Rock
            </span>
          </div>
        </td>
      </tr>
      <tr>
          <td height="20"/>
      </tr>
      <tr>
          <td height="20" style="background-color: #eaf0f6;"/>
      </tr>
    </table>
  </body>
</html>
