<!DOCTYPE html>
<html>

<head>
  <title>Concert Event Hosting Services (Republic of Rock) API Documentation</title>
  <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <!-- ======================================= -->
  <!-- Navigation + Side Panel + Body -->
  <div class="w-full">
    <%- include('partials/nav_panel', { has_side_bar: false }) %>
  </div>
  <!-- ======================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>