<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Concert Event Hosting Services (Republic of Rock) Events Page</title>

  <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <!-- ======================================= -->
  <div class="w-full flex flex-col min-h-screen">
    <!-- ======================================= -->
    <!-- Navigation Panel -->
    <%- include('../partials/nav_panel', { has_side_bar: false }) %>
    <!-- ======================================= -->
    <!-- Body -->
    <div class="mt-32 flex justify-center items-start w-full flex-1">
        <p>Hello World</p>
    </div>
    <!-- ======================================= -->
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- ======================================= -->
  </div>
  <!-- ======================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>