@tailwind base;
@tailwind components;
@tailwind utilities;

.code-container {
    background-color: #f1f1f1;
}

.code-text {
    font-family: Consolas, "courier new";
    color: crimson;
    font-size: 105%;
}

.paginate-button {
    /* text-gray-500 */
    color: rgb(107 114 128);

    /* bg-white */
    background-color: white;

    /* border-gray-300 */
    border: solid 2px rgb(209 213 219);

    border-radius: 10px;
    transition: color 0.2s, background-color 0.2s;
}

.paginate-button:hover {
    /* hover: text-gray-700 */
    color: rgb(55 65 81);

    /* hover: bg-gray-100 */
    background-color: rgb(243 244 246);
}

.paginate-button-current {
    /* text-blue-600 */
    color: rgb(37 99 235);

    /* border-gray-300 */
    border: solid 2px rgb(209 213 219);

    /* bg-blue-50 */
    background-color: rgb(239 246 255);

    border-radius: 10px;
    transition: color 0.2s, background-color 0.2s;
}

.paginate-button-current:hover {
    /* hover: text-blue-700 */
    color: rgb(29 78 216);

    /* hover: bg-blue-100 */
    background-color: rgb(219 234 254);
}